@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Rubik:wght@300&display=swap');

/*font-family: 'Inconsolata', monospace;
font-family: 'Rubik', sans-serif;*/

:root{
    --cor-preta:black;
    --cor-branca:white;
    --cor-background: #f3c69a;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--cor-background);
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.section-conteudo{
    display: flex;
    box-shadow: -3px 5px 10px rgb(0, 0, 0, .2);
}

.left-conteudo{
    width: 35vw;
    height: 85vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px 0;
    box-sizing: border-box;
    background: var(--cor-branca);
}

.left-logo{
    display: flex;
    justify-content: left;
    width: 90%;
    font-weight: bold;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
}

.left-logo p::before{
    content: "⦁";
    margin-right: 3px;
}

.div-form-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 90vh;
}

.div-form > h1{
    font-size: 1.5em;
    font-family: 'Rubik', sans-serif;
}

.div-form > p{
    margin-top: 10px;
    font-size: 14.5px;
    font-family: 'Rubik', sans-serif;
}

.left-form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.left-form input:not(.btn-create){
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--cor-preta);
    padding: 5px 0;
    outline: none;
    margin-top: 20px;
    font-family: 'Rubik', sans-serif;
}

.btn-create{
    padding: 10px 5px;
    border-radius: 5px;
    border: none;
    background: var(--cor-preta);
    color: var(--cor-branca);
    margin-top: 15px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Rubik', sans-serif;
}

.div-login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}

.div-login > a{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.div-login > a p{
    font-weight: 600;
    margin: 0;
}

.logo-google{
    width: 1.1vw;
}

.div-login .btn-google{
    width: 100%;
    margin-top: 15px;
    text-decoration: none;
    color: var(--cor-preta);
    padding: 10px 5px;
    border: 1px solid var(--cor-preta);
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Rubik', sans-serif;
}

.div-login > p{
    margin-top: 25px;
}

.div-login > p a{
    text-decoration: none;
    color: var(--cor-preta);
    text-decoration: underline;
}

.div-credencias{
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-family: 'Rubik', sans-serif;
    font-size: 14px;
}

.div-credencias p::before{
    content: "©";
    margin-right: 3px;
}

.div-credencias a{
    text-decoration: none;
    color: var(--cor-preta);
}

.div-credencias a::before{
    content: "✉";
    margin-right: 3px;
}

.right-conteudo{
    width: 35vw;
    height: 85vh;
    overflow: hidden;
}

.right-conteudo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}